# 판다스 객체 생성

In [3]:
import pandas as pd

## 시리즈(1차원배열) 생성

In [ ]:
pd.Series([10,20,30])

0    10
1    20
2    30
dtype: int64

In [ ]:
# 동일한 자료형으로 변환
pd.Series([10,5.5,10])

0    10.0
1     5.5
2    10.0
dtype: float64

In [ ]:
# 인덱스 지정
x = pd.Series([10,20,30],index=['A','B','C'])
x['A']

10

## 데이터 프레임 생성

In [ ]:
# 넘파이로 데이터프레임생성
import numpy as np
arr=np.arange(12).reshape(3,4)
arr
df=pd.DataFrame(arr)
df

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [ ]:
# 딕셔너리로 데이터프레임 생성
name=['장은실','오경선','양숙희']
dept=['컴공','영어','수학']
score=[90,80,95]
df = pd.DataFrame({'이름':name,
                   '점수':score,
                   '전공':dept})
print(df)

    이름  점수  전공
0  장은실  90  컴공
1  오경선  80  영어
2  양숙희  95  수학

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# csv 파일 읽어와 데이터프레임 생성
filename = '/content/drive/MyDrive/data/mobile.csv'
pd.read_csv(filename)

     Brand   Color  price
0  Samsung   Black    100
1       LG    Gold     70
2    Apple  Silver    150
3    Apple    Gray    120

In [ ]:
# 엑셀파일 읽어와 데이터프레임 생성
filename = '/content/drive/MyDrive/data/nation.xlsx'
pd.read_excel(filename)                                   #read_csv <--> read_excel

  국적코드  성별    입국객수    증가수
0  A01  남성  125000   8000
1  A01  여성  130000  10000
2  A05  남성     300     10
3  A05  여성     200     50
4  A06  남성  158912  24486
5  A06  여성  325000  63466

# 판다스 기초

## 판다스 데이터 확인

In [4]:
# 준비파일 : weather.csv
# 데이터 불러오기
filename = '/content/drive/MyDrive/data/weather.csv'
df = pd.read_csv(filename, encoding='cp949')                                  # csv는 컬럼 이름에 한글이 포함되어 있다면, 인코딩 옵션을 줘야함★★★
df
type(df)

pandas.core.frame.DataFrame

In [5]:
# (행,열) 크기 확인
df.shape               # 속성이라 () 없음., 결과값이 튜플이라 [0] 으로 행의 갯수, [1]로 열의 갯수를 알 수 있음

(273, 4)

In [ ]:
# 전체 구조 
df.info()   #문자열 = object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      273 non-null    object
 1   평균기온    273 non-null    float64
 2   최저기온    273 non-null    float64
 3   최고기온    273 non-null    float64
dtypes: float64(3), object(1)
memory usage: 8.7+ KB

In [ ]:
# 데이터 일부 확인
#상위 n행 출력, default 값은 5 행
df.head()
#하위 n행 출력, default 값은 5 행
df.tail() 
df[268:273]

             날짜  평균기온  최저기온  최고기온
268  2021-09-26  22.6  18.4  27.3
269  2021-09-27  21.6  18.7  25.0
270  2021-09-28  21.5  19.6  24.4
271  2021-09-29  20.2  17.8  21.4
272  2021-09-30  20.3  16.0  25.9

In [ ]:
# 인덱스 및 컬럼 정보 확인
df.index
df.columns

Index(['날짜', '평균기온', '최저기온', '최고기온'], dtype='object')

In [ ]:
# 데이터 통계 정보확인
df.describe()

             평균기온        최저기온        최고기온
count  273.000000  273.000000  273.000000
mean    15.652747   11.503663   20.381319
std     10.613532   11.044199   10.531716
min    -14.900000  -18.600000  -10.700000
25%      8.800000    4.300000   14.200000
50%     18.400000   13.800000   23.000000
75%     23.900000   20.400000   28.800000
max     31.700000   27.800000   36.500000

In [7]:
# 데이터 정렬
df.sort_values(by='최고기온') #오름차순
df.sort_values('최고기온', ascending=False) #내림차순

             날짜  평균기온  최저기온  최고기온
204  2021-07-24  31.7  26.9  36.5
205  2021-07-25  31.5  27.2  35.9
202  2021-07-22  31.2  26.5  35.9
203  2021-07-23  31.2  27.2  35.8
207  2021-07-27  31.1  27.8  35.7
..          ...   ...   ...   ...
28   2021-01-29  -8.8 -11.6  -4.9
47   2021-02-17  -8.3 -10.4  -5.2
8    2021-01-09 -12.2 -16.6  -7.5
6    2021-01-07 -14.5 -16.5  -8.4
7    2021-01-08 -14.9 -18.6 -10.7

[273 rows x 4 columns]

In [11]:
# 응용문제 : 최고로 더웠던 10개의 데이터를 추출
df.sort_values(by='최고기온', ascending=False)[:10]
sorted_df = df.sort_values(by='최고기온', ascending=False)
sorted_df.head(10)

             날짜  평균기온  최저기온  최고기온
204  2021-07-24  31.7  26.9  36.5
205  2021-07-25  31.5  27.2  35.9
202  2021-07-22  31.2  26.5  35.9
203  2021-07-23  31.2  27.2  35.8
207  2021-07-27  31.1  27.8  35.7
210  2021-07-30  30.5  25.8  35.4
206  2021-07-26  31.2  27.4  35.4
201  2021-07-21  30.5  25.3  35.3
196  2021-07-16  28.8  24.2  35.2
208  2021-07-28  30.4  27.1  34.7

In [13]:
# 데이터 빈도 분석     
bank=pd.read_csv('/content/drive/MyDrive/data/bank.csv')
bank['job'].value_counts(ascending=True)  #value_counts는 기본적으로 내림차순(default값)

student           153
housemaid         208
unemployed        223
entrepreneur      239
self-employed     256
retired           351
services          661
admin.            834
technician       1206
blue-collar      1499
management       1560
Name: job, dtype: int64

In [22]:
# 특정 컬럼 정보 확인
df.head()
df.columns
result = bank['job'].unique()
len(result)
result.size

12

## 데이터 선택

In [24]:
# 단일 컬럼 선택
df.최고기온
df['최고기온']

0       1.6
1      -1.4
2      -2.0
3       0.3
4      -2.1
       ...
268    27.3
269    25.0
270    24.4
271    21.4
272    25.9
Name: 최고기온, Length: 273, dtype: float64

In [ ]:
# 여러 컬럼 선택

In [26]:
df[['날짜','평균기온']]

             날짜  평균기온
0    2021-01-01  -4.2
1    2021-01-02  -5.0
2    2021-01-03  -5.6
3    2021-01-04  -3.5
4    2021-01-05  -5.5
..          ...   ...
268  2021-09-26  22.6
269  2021-09-27  21.6
270  2021-09-28  21.5
271  2021-09-29  20.2
272  2021-09-30  20.3

[273 rows x 2 columns]

In [28]:
df.loc[:,['날짜','평균기온']]

             날짜  평균기온
0    2021-01-01  -4.2
1    2021-01-02  -5.0
2    2021-01-03  -5.6
3    2021-01-04  -3.5
4    2021-01-05  -5.5
..          ...   ...
268  2021-09-26  22.6
269  2021-09-27  21.6
270  2021-09-28  21.5
271  2021-09-29  20.2
272  2021-09-30  20.3

[273 rows x 2 columns]

In [30]:
df.iloc[:,[0,1]]

             날짜  평균기온
0    2021-01-01  -4.2
1    2021-01-02  -5.0
2    2021-01-03  -5.6
3    2021-01-04  -3.5
4    2021-01-05  -5.5
..          ...   ...
268  2021-09-26  22.6
269  2021-09-27  21.6
270  2021-09-28  21.5
271  2021-09-29  20.2
272  2021-09-30  20.3

[273 rows x 2 columns]

In [35]:
df.loc[0:3,['날짜','평균기온']]
df.iloc[0:3,[0,3]]

           날짜  최고기온
0  2021-01-01   1.6
1  2021-01-02  -1.4
2  2021-01-03  -2.0

In [ ]:
# 특정 범위의 행 선택

            날짜  평균기온
10  2021-01-11  -6.7
11  2021-01-12  -3.9
12  2021-01-13   2.0
13  2021-01-14   1.7
14  2021-01-15   4.5
15  2021-01-16  -4.9
16  2021-01-17  -5.5
17  2021-01-18  -3.8
18  2021-01-19  -6.3
19  2021-01-20  -0.1

In [38]:
# 조건에 맞는 데이터 추출
# 평균기온이 30도 이상인 데이터 추출
w = df['평균기온']>=30
df[w]

             날짜  평균기온  최저기온  최고기온
201  2021-07-21  30.5  25.3  35.3
202  2021-07-22  31.2  26.5  35.9
203  2021-07-23  31.2  27.2  35.8
204  2021-07-24  31.7  26.9  36.5
205  2021-07-25  31.5  27.2  35.9
206  2021-07-26  31.2  27.4  35.4
207  2021-07-27  31.1  27.8  35.7
208  2021-07-28  30.4  27.1  34.7
210  2021-07-30  30.5  25.8  35.4

In [39]:
# 평균기온이 20도 이상이고 30도 이하인 데이터 추출
w = (df['평균기온'] >= 20) & (df['평균기온'] <= 30)
df[w]

             날짜  평균기온  최저기온  최고기온
111  2021-04-22  20.9  16.1  27.5
131  2021-05-12  22.0  16.9  27.7
132  2021-05-13  22.9  16.6  29.6
133  2021-05-14  24.1  18.0  30.8
134  2021-05-15  22.1  20.8  26.2
..          ...   ...   ...   ...
268  2021-09-26  22.6  18.4  27.3
269  2021-09-27  21.6  18.7  25.0
270  2021-09-28  21.5  19.6  24.4
271  2021-09-29  20.2  17.8  21.4
272  2021-09-30  20.3  16.0  25.9

[115 rows x 4 columns]

In [44]:
# 가장 더웠던 날의 모든 정보 추출
df[df['최고기온'].max() == df['최고기온']]

             날짜  평균기온  최저기온  최고기온
204  2021-07-24  31.7  26.9  36.5

In [48]:
# 일교차가 16도 이상인 데이터
df[df['최고기온'] - df['최저기온'] >= 16]

             날짜  평균기온  최저기온  최고기온
49   2021-02-19   1.6  -7.1   8.9
89   2021-03-31  14.5   5.9  22.9
110  2021-04-21  19.1  10.3  28.2
130  2021-05-11  18.5   9.4  25.7